<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6345327773-poaoajoufqcbhd05dfgg0mcolutv90mf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6345327773-poaoajoufqcbhd05dfgg0mcolutv90mf</string>
	<key>API_KEY</key>
	<string>AIzaSyDYoanEtJHSYiePsukG5Ywcgue2anu7AFk</string>
	<key>GCM_SENDER_ID</key>
	<string>6345327773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exploreWorld</string>
	<key>PROJECT_ID</key>
	<string>exploreworld-6d854</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreworld-6d854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6345327773:ios:0dc8b034ba50fac3c44074</string>
</dict>
</plist>